
<div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                Factura Electrónica
            </div>
           
        </div>
        <tfoot>
            <div class="form-group">
                <div class="form-group">
                    <label *ngFor="let t of  Proveedors" >
                        <h4>PROVEEDOR </h4>
                    
                        <h4>Nombre : {{t.pro_nombre}}</h4>
                  
                        <h4>Direccion:{{t.pro_direccion}}</h4>

                    </label>
                </div>
                
                <button  type="button"  [routerLink]="['/fac_compras']"
                    class="btn btn-primary btn-block">
                    Regresar
                </button>
            </div>
        </tfoot>
    
        
    </div>
    
    <div class="col-md-12">
        <table class="table table-bordered table-hover bg-white">
            <thead>
                <tr>
                   
                        <th>Nombre</th>
                        <th>Cantidad </th>
                        <th>Precio </th>
                        <th>Imagen </th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of Detalle_comprass">
                        <td>{{d.pro_nombre}}</td>
                        <td>{{d.dcom_cantidad}}</td>
                        <td>{{d.dcom_precio}}</td>  
                        <td><img src={{d.pro_imagen}} width="100" height="50" ></td>  
                </tr>
            </tbody>
        </table>
    </div>
</div>

