
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="background: rgb(47, 30, 202); font-style: bold; color: white;">
    <a class="navbar-brand" href="../dashboard/" style="color: white; font-style: bold; margin-left: 25px; margin-top: 20px;">Modulo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../alicuota" style="color: white; font-style: bold;">Alicuota</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../alicuota-actualizada/" style="color: white; font-style: bold;"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../multa/" style="color: white; font-style: bold;">Multas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../reservaciones/" style="color: white; font-style: bold;">Reservaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../servicio/" style="color: white; font-style: bold;">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../tipo-documento/" style="color: white; font-style: bold;">Documentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../tipo-servicio/" style="color: white; font-style: bold;">Tipo de Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../persona/" style="color: white; font-style: bold;">Personas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../usuario/" style="color: white; font-style: bold;">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../usuario/" style="color: white; font-style: bold;">Usuarios</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-danger" (click)="logOut()" type="button">LogOut
          <i class="fa fa-sign-out" style="font-size:15px"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
