<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">

              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#home" />
              </svg>
              <i class="fas fa-home"></i>
              Inicio
            </a>
          </li>
          <li>
            <a href="/alicuota" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#speedometer2" />
              </svg>
              <i class="fas fa-dragon"></i>
              Alicuota
            </a>
          </li>
          <li>
            <a href="/multa" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#table" />
              </svg>
              <i class="fa fa-bars"></i>
              Multa
            </a>
          </li>
          <li>
            <a href="/reservaciones" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid" />
              </svg>
              <i class="fa fa fa-bars"></i>
              Reservaciones
            </a>
          </li>



          <li>
            <a href="/servicio" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid" />
              </svg>
              <i class="fa fa fa-bars"></i>
              Servicio
            </a>
          </li>
          <li>
            <a href="/usuario" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid" />
              </svg>
              <i class="fa fa fa-bars"></i>
              Usuario
            </a>
          </li>
          <li>
            <a href="/reservaciones" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid" />
              </svg>
              <i class="fa fa fa-bars"></i>
              Reservaciones
            </a>
          </li>


          <li>
            <form class="d-flex" role="search">
              <button class="btn btn-outline-danger"  style="margin-top: 30px; margin-left: 100px;"  (click)="logOut()" type="button">LogOut
                <i class="fa fa-sign-out" style="font-size:15px"></i>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
