<app-navbar></app-navbar>
<div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                 AdMINIASTRAR EGRESOS
            </div>
            <div class="card-body">
                <p style="text-align:center">Registrar Egresos</p>
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#">Nuevo Servicio</button>
            </div>



            <div class="modal fade" id="crearServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Crear Egreso</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="form">

                                <!-- <div class="form-group">
                                    <label for="serv_idservicios">ID </label>
                                    <input type="text" name="serv_idservicios" formControlName="txtserv_idservicios" placeholder="ID" class="form-control">
                                </div> -->

                                <div class="form-group">
                                    <label for="egre_id">ID </label>
                                    <input type="text" name="txtegre_id" formControlName="txtegre_id" placeholder="Nombre Servicio" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="tes_idtesorero">ID Tesorero </label>
                                    <input type="text" name="txttes_idtesorero" formControlName="txttes_idtesorero" placeholder="Descripcion" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="egre_descripcion">Descripcion </label>
                                    <input type="number" name="txtegre_descripcion" formControlName="txtegre_descripcion" placeholder="Valor" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="egre_Subtotal">Subtotal </label>
                                    <input type="number" name="txtegre_Subtotal" formControlName="txtegre_Subtotal" placeholder="Iva" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="egre_iva">Iva </label>
                                    <input type="number" name="txtegre_iva" formControlName="txtegre_iva" placeholder="Cantidad" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="egre_total">Total </label>
                                    <input type="text" name="txtegre_total" formControlName="txtegre_total" placeholder="Descripcion" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="egre_fecha">Fecha </label>
                                    <input type="number" name="txtegre_fecha" formControlName="txtegre_fecha" placeholder="Valor" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="egre_numero">Numero </label>
                                    <input type="number" name="txtegre_numero" formControlName="txtegre_numero" placeholder="Iva" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="egre_estado_delete">Estado </label>
                                    <input type="number" name="txtegre_estado_delete" formControlName="txtegre_estado_delete" placeholder="Cantidad" class="form-control">
                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-hover bg-white">
            <thead>
                <tr>
                   <th>ID</th>
                    <th>Descripcion</th>
                    <th>Subtotal</th>
                    <th>Iva</th>
                    <th>Total</th>
                    <th>Fecha</th>
                    <th>Número</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of Cargar_egresos">
                   
                    <td>
                        {{s.egre_id}}
                    </td>
                    
                    <td>
                        {{s.egre_descripcion}}
                    </td>
                    <td>
                        {{s.egre_subtotal}}
                    </td>
                    <td>
                        {{s.egre_iva}}
                    </td>
                    <td>
                        {{s.egre_total}}
                    </td>

                    <td>
                        {{s.egre_fecha}}
                    </td>
                    <td>
                        {{s.egre_numero}}
                    </td>


                    <div class="modal-footer">
                       
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Actualizar</button>
                    </div>


                    <td class="d-flex justify-content-center">

                        <a class="btn btn-danger" (click)="deleteEgreso(s.egre_id)">
                            <i class="fas fa-trash-alt">Borrar</i>
                        </a>

                        
                    </td>
                


                </tr>
            </tbody>
        </table>

    </div>
</div>
