<p>persona works!</p>
<div class="container" style="margin-top: 50px;">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header" style=background-color:#7ccc;>
        <b>ADMINISTRAR PERSONA</b>
      </div>

    </div>


    <button type="button" class="btn btn-primary btn-block" data-target="#crearPersona" data-toggle="modal">
      Nueva Persona
    </button>
  </div>

  <div class="modal fade" id="crearPersona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Persona</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--
    pers_persona: string,
    pers_email: string,
    pers_nombres: string,
    pers_apellidos: string,
    pers_telefono: string,
    pers_direccion: string
                        -->
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="form-group">
              <input type="text" name="Cedula o RUC" formControlName="txtpers_persona"
                placeholder="Insertar Cédula o RUC persona" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="Email Persona" formControlName="txtpers_email"
                placeholder="Insertar Email persona" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="Nombre persona" formControlName="txtpers_nombres"
                placeholder="Insertar Nombre persona" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="Apellido persona" formControlName="txtpers_apellidos"
                placeholder="Insertar Apellido persona" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="Telefono persona" formControlName="txtpers_telefono"
                placeholder="Insertar Teléfono persona" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="Dirección " formControlName="txtpers_direccion"
                placeholder="Insertar la dirección" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="crearPersona()" data-dismiss="modal">Crear
                Persona</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <table class="table table-bordered table-hover bg-while" style=background-color:#accc;>
      <thead>

        <!--
    pers_persona: string,
    pers_email: string,
    pers_nombres: string,
    pers_apellidos: string,
    pers_telefono: string,
    pers_direccion: string
    -->

        <tr>
          <th>CEDULA</th>
          <th>EMAIL</th>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>TELEFONO</th>
          <th>DIRECCION</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of personas">
          <td>
            {{p.pers_persona}}
          </td>
          <td>
            {{p.pers_email}}
          </td>
          <td>
            {{p.pers_nombres}}
          </td>
          <td>
            {{p.pers_apellidos}}
          </td>
          <td>
            {{p.pers_telefono}}
          </td>
          <td>
            {{p.pers_direccion}}
          </td>
          <td class="d-flex justify-content-center">
            <a class="btn btn-success" data-toggle="modal" data-target="#editarPersona" (click)="infoUpdatePersona (p.pers_persona, p.pers_email,
                                p.pers_nombres, p.pers_apellidos, p.pers_telefono, p.pers_direccion)">
              <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-danger" (click)="eliminarFisicoPersona(p.pers_persona)" >
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>

          <div class="modal fade" id="editarPersona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editar Persona</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form">
                    <div class="form-group">
                      <!--
                      pers_persona: string,
                      pers_email: string,
                      pers_nombres: string,
                      pers_apellidos: string,
                      pers_telefono: string,
                      pers_direccion: string
                      -->
                      <label>
                        <h6>Cédula:{{ this.informacionPersona.pers_persona }}
                        </h6>
                      </label>
                      <input type="text" name="Email Persona" formControlName="txtpers_email"
                        [(ngModel)]="this.informacionPersona.pers_email" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="text" name="Nombre Persona" formControlName="txtpers_nombres"
                        [(ngModel)]="this.informacionPersona.pers_nombres" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="text" name="Apellido Persona" formControlName="txtpers_apellidos"
                        [(ngModel)]="this.informacionPersona.pers_apellidos" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="text" name="telefono Persona" formControlName="txtpers_telefono"
                        [(ngModel)]="this.informacionPersona.pers_telefono" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="text" name="Dirección" [(ngModel)]="this.informacionPersona.pers_direccion"
                        formControlName="txtpers_direccion" class="form-control">
                    </div>
                    <div class="modal-footer">

                      <button type="button" class="btn btn-primary"
                        (click)="actualizarPersona(informacionPersona.pers_persona)"
                        data-dismiss="modal">Actualizar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </tr>
      </tbody>
    </table>
  </div>
</div>
